<style>
#white_strip .container {padding-bottom: 50px;padding-top: 43px;}

</style>
<div class="span6" style="margin-left:0px;">
	<h2 class="top_header" style="font-size:28px;font-weight:bold"><%= title %></h2>
</div>
<div class="span6" style="float:right">&nbsp;</div>