<script id="base_template" type="text/x-underscore-tmpl">
  <li class="question_holder" id="<@= question.cid @>">
  	<label class="num" style="font-size:18px"><span>1</span></label>
    <div class="q_menu">
      <div class="btn-toolbar">
        <div class="btn-group">
          <a class="move" href="#"><i class="icon-move"></i></a>
          <a class="trash" href="#"><i class="icon-remove"></i></a>
        </div>
      </div>
    </div>
    <div class="type_area">
    <h4>Field Heading</h4>
  	 <input class="question_label" type="text" placeholder="e.g. Name, Amount of people, Build date, Time of incident" <@ if (question.label) { @> value="<@= question.label @>" <@ } @>>
    </div>

    <div>
      <h4>Field Type</h4>
      <select class="type_selector">
        <option value="fillin">Text</option>
        <option value="number">Number</option>
        <option value="date">Date</option>
        <option value="datetime">Date + Time</option>
      </select>
    </div>

    <div class="note_section" style="height:25px">
      <h4>Add a Note</h4>

       <input type="checkbox" class="note_checkbox" <@ if (question.note) { @>checked <@ } @> >

    </div>
     <div class="note_holder" <@ if (question.note) { @> style="display:block !important" <@ } @>>
        <textarea placeholder="Please enter your note here. Use this to help specify exactly what information you are trying to capture in this field."><@ if (question.note) { @> <@= question.note @> <@ } @></textarea>
      </div>
  </li>
</script>