<% content_for :userbar do %>
    <%= render :partial => "partials/basic_strip", :locals => {:title => "Contact us"} %>
<% end %>

<div class="grid-content">

  <div class="row">
    <div class="span12">
    	<iframe frameborder="0" src='https://caerusgeo.uservoice.com/clients/widgets/ozbrkc5vIASO6zzljI4HaQ.html' width="100%" height="600">
    </div>
  </div>
</div>