<% content_for :userbar do %>
  <%= render :partial => "partials/basic_strip", :locals => {:title => "Team"} %>
<% end %>

<style>
h4 {color:grey;}
.thumbnail {border:none;cursor:pointer;
-webkit-box-shadow: none;
-moz-box-shadow: none;
box-shadow: none;
}
.thumbnails img {margin-bottom:10px;}
.thumbnails p {font-weight:bold;color:#83c34d;}
.contentArea {display: none}
.contentArea p {font-size:15px;}
.contentArea .span7 {margin-left: 0px;}
.contentArea .title {color:#83c34d;margin-bottom:10px;position: relative;
top: -6px;}
#member_content {position: relative;
left: 25px;
margin-bottom:30px;}


</style>
<div class="grid-content">
  
  <div class="row" style="padding-top:10px;">
    <div id="member_content">
      <div id="matt" class="contentArea">
        <h3>Matthew Mcnabb</h3>
        <h3 class="title">Managing Director</h3>
        <div class="span7">
          <p>Matt McNabb specializes in designing and implementing innovative ways to engage with frontier markets and transitional environments. Prior to joining Caerus, Matt founded and led an NGO that employed in-depth field research and multidisciplinary analysis, as well as open source and mobile technologies, to provide a hyper-granular view of conflict dynamics. Matt has advised on and managed market entry and diversification for a transnational criminal defense firm in the national security field in Europe and the United States. As a Principal, Matt focuses on pioneering new ways to understand and invest in high-risk environments. When not vacationing in Bosnia or DR Congo, Matt can be found categorizing bars in global capitals by the quality of their gin collections.</p>
        </div>
        <div class="span3 offset1">
          <img src="//s3.amazonaws.com/co_m_assets/team/Matt.jpg">
        </div>
        
      </div>

            <div id="richard" class="contentArea">
        <h3>Richard Tyson</h3>
        <h3 class="title">Development Strategist</h3>
        <div class="span7">
        <p>Richard's work focuses on the idea that organizational success in a complex, uncertain world is more closely tied to ideas of resilience than to ideas of singular breakthrough success. He believes success is best understood in terms of the political and institutional economies in which it is situated. Before starting CaerusGeo, he founded and ran the Helsinki Group, was a strategy director at the leadership and innovation firm Stone Yamashita Partners and a thought leader and global account manager at Doblin, Inc. and Monitor Group. Richard was educated at Harvard, Whitman College and The New School for Social Research.</p>
              </div>
        <div class="span3 offset1">
          <img src="//s3.amazonaws.com/co_m_assets/team/Richard.jpg">
        </div>
      </div>

            <div id="james" class="contentArea">
        <h3>James Sanderson</h3>
        <h3 class="title">Design & User Experience</h3>
        <div class="span7">
        <p>James is involved with the entire lifecycle of the CaerusGeo online and offline experience from providing strategy and design UI to consistently ensuring all applications are intuitive and easy to use. James has worked in London, Eastern Europe, Asia and the Middle East on a wide range of creative and innovation assignments including identity, service design, product and digital media. He studied Design and Painting at Camberwell College of arts in London England.
He founded his own studio to work at the intersection of design and development.</p>      </div>
        <div class="span3 offset1">
          <img src="//s3.amazonaws.com/co_m_assets/team/James.jpg">
        </div>
      </div>

            <div id="steve" class="contentArea">
        <h3>Steve Kashishian</h3>
        <h3 class="title">Managing Director</h3>
        <div class="span7">
        <p>Steve conceptualizes and builds the core infrastructure behind the CaerusGeo platform.
        He is an open source enthusiast and avid contributor to Leaflet, which powers all of the platform’s browser based maps.
        Prior to his involvement in geospatial development, Steve was platform engineer at an NYC startup specializing in the emerging digital badging market, and developer in a large enterprise deployment across more than 300 domains.Steve received a Masters with distinction in Interactive Media from the London College of Communication.</p>
      </div>
              <div class="span3 offset1">
          <img src="//s3.amazonaws.com/co_m_assets/team/Steve.jpg">
        </div>
      </div>

            <div id="leah" class="contentArea">
        <h3>Leah Meisterlin</h3>
        <h3 class="title">GIS Specialist & cartographer</h3>
        <div class="span7">
        <p>Leah is a geographic information systems specialist, and cartographer at CaerusGeo. Leah works with open data to design maps based on data from OpenStreetMap. She specializes in design driven by quantitative and qualitative research methodologies, often paired with critical cartography and representation techniques taken from the field of architecture.
Prior to starting caerus Geo she cofounded PRE-Office, a New York City-based design and research studio.  Her work has been featured in print and in exhibition, most recently in <a href="http://www.moma.org/interactives/exhibitions/2012/foreclosed/">Foreclosed: Rehousing the American Dream</a> at the <a href="http://www.moma.org/">Musuem of Modern Art</a> in New York.
Leah holds a Masters of Architecture and an MS in Urban Planning (both from Columbia University) and a BA in Art: Architecture and Urbanism (from Smith College). She teaches at the Graduate School of Architecture, Planning, and Preservation</a> at Columbia University and lives in New York City.</p>      </div>
        <div class="span3 offset1">
          <img src="//s3.amazonaws.com/co_m_assets/team/Leah.jpg">
        </div>
      </div>


            <div id="jason" class="contentArea">
        <h3>Jason Knobloch</h3>
        <h3 class="title">Operations</h3>
        <div class="span7">
        <p>Jason focus is to understand complex workflows and systems involved in frontier environments. He has managed CaerusGeo projects in Liberia, Honduras and Afghanistan. Jason joined CaerusGeo after a stint in the Office of the Secretary of Defense focusing on the Western Hemisphere, as well as time spent managing research at Veterans for America and the consulting firm Jefferson Waterman International. Jason holds an MA in Security Studies from Georgetown University and a BA in International Studies from Rhodes College in Memphis, Tennessee. </p>      </div>
        <div class="span3 offset1">
          <img src="//s3.amazonaws.com/co_m_assets/team/Jason.jpg">
        </div>
      </div>


      <div id="alex" class="contentArea">
        <h3>Alex Hughes</h3>
        <h3 class="title">Program Manager</h3>
        <div class="span7">
        <p>Alex manages CaerusGeo’s research portfolio on urban resilience & security, and designs and implements programs that reduce urban crime and violence. Her prior work includes time spent at Noetic Corporation, and internships at Greenberg Traurig and Eric Cohler Design. A graduate of Vanderbilt University and a native of Houston, TX.</p>
      </div>
        <div class="span3 offset1">
          <img src="//s3.amazonaws.com/co_m_assets/team/Alex.jpg">
        </div>

      </div>

    </div>
</div>
<div class="row" style="padding-top: 30px;">
    <ul class="thumbnails" style="left: 20px;
position: relative;">
  <li class="span3" >
    <div class="thumbnail" id="matt">
      <img src="//s3.amazonaws.com/co_m_assets/team/Matt.jpg">
      <h4>Matt Mcnabb</h4>
      <p>Managing Director</p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail" id="richard">
      <img src="//s3.amazonaws.com/co_m_assets/team/Richard.jpg" alt="">
      <h4>Richard Tyson</h4>
      <p>Development Strategist</p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail" id="james">
      <img src="//s3.amazonaws.com/co_m_assets/team/James.jpg" alt="">
      <h4>James Sanderson</h4>
      <p>Design and User Experience</p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail" id="steve">
      <img src="//s3.amazonaws.com/co_m_assets/team/Steve.jpg" alt="">
      <h4>Steve Kashishian</h4>
      <p>Software Architect</p>
    </div>
  </li>

    <li class="span3">
    <div class="thumbnail" id="jason">
      <img src="//s3.amazonaws.com/co_m_assets/team/Jason.jpg">
      <h4>Jason Knobloch</h4>
      <p>Operations</p>
    </div>
  </li>
  <li class="span3">
    <div class="thumbnail" id="leah">
      <img src="//s3.amazonaws.com/co_m_assets/team/Leah.jpg" alt="">
      <h4>Leah Meisterlin</h4>
      <p>GIS Specialist & cartographer</p>
    </div>
  </li>
    <li class="span3">
    <div class="thumbnail" id="alex">
      <img src="//s3.amazonaws.com/co_m_assets/team/Alex.jpg" alt="">
      <h4>Alex Hughes</h4>
      <p>Program Manager</p>
    </div>
  </li>
</ul>

  </div>
</div>

<script>
$(document).ready(function() {
  $('.thumbnail').click(function() {
    $(".contentArea").slideUp('fast');
    $("#"+$(this).attr('id')).slideDown('slow')
  })
})
</script>