/* @group Pre-existing */

body {
  color: #333;
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

p, ol, ul, td {
  font-family: arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px; }

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px; }

a {
  color: #000;
  }
     
div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; }



/* @end */ }




/* @group Global */
.clear{ clear: both; margin: 0px; padding: 0px;}
.notext{ display: block; text-indent: -9999px; overflow:hidden; line-height:0px; font-size:0px;}
.nom{ margin-right: 0px !important;}
.shown{ visibility: visible !important;}
.hidden{ visibility: hidden !important;}

body {
  background-color: #f2f2f2;
}

.container{
	width: 990px !important; /*984px*/
}

.grid-content{
	padding: 0 23px;
	background-color: #fff;
	border: 2px solid #E5E5E6;
	margin-top:20px;
	margin-bottom:20px;
	min-height: 520px;
}

/* @white strip */

#white_strip {background:white;color:#40585B;border-bottom: 1px solid #ddd; }
#white_strip .container {padding-top:40px;width:940px !important}
#white_strip .container .span6 {margin-left:0px}
#white_strip .nav-tabs > li > a {
	font-size: 13px;
	width: 77px;
	text-align: center;
	font-weight:bold;
	color:#929392;
}

#white_strip .nav-tabs > li > a:hover {
	color:black;
}

#white_strip  .nav-tabs > .active > a {
	color:black;
	background-color: #f2f2f2;
}

#white_strip  .nav-tabs {border-bottom:0px;}

/* @end */

/* @group Survey Editing */

.survey-map{
	float: right;
	width: 620px; /*600*/
	height: 490px; /*450*/
	margin-top: -16px;
}


.survey-upload form{ margin: 0px;}

#new_button {
	float: right;
}



/* @end */

/* @end */

/* @group Home Page */

#home-wrap{
	width: 940px;
	padding: 0 23px;
	margin: auto;
	position: relative;
}


#home-left{
	width: 300px; /*458*/
	height: 290px; /*317*/
	margin-left: 5px !important;
	
	padding: 28px 130px 0 28px;
	margin-top: 34px;
	float: left;
	background-color: #F2F1F1;
}


#home-left h3{
	font-size: 23px;
	font-weight: bold;
	display: block;
	margin-bottom: 20px;
	float: left;
}

.home-sign-up{
	float: right;
	margin-top: 8px;
}

.home-sign-up a{
	font-weight: bold;
	color: #88C442;
}

.home-remember-label{
	float: left;
}

.home-forgot{
	float: right;
	margin-top: 15px;
}

.home-remember-check{
	float: left;
	margin-left: 5px !important;
}


#home-left .btn-success{
	margin-top: 10px;
	padding: 6px 12px;
}

/* @end */

/* @group Survey Index */

#survey-all-tables{
	width: 100%;
}

#survey-index-bar #survey-nav{
	display: none;
}

/* @end */

.report-preview{
	padding: 10px;
}

/* @end */

#footer { background:white;color:silver;padding-bottom:20px;padding-top:20px;}
#footer #last_line {margin: 0 0 9px 25px;}
#footer ul {margin-bottom:5px !important}
#footer .inline li  {font-size:15px;display:inline;margin:0px 10px;color:silver}
#footer .inline li:first-child {margin-left:0px;}

#footer a {color:silver}

#user_index .copy {padding-top:7px;margin-bottom:0px}
#user_index {padding-top:26px;padding-left:20px;}
#user_index .thumbnail {
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	width: 220px;padding:0px;background-repeat: no-repeat;height:220px;
	background-size:100%;
}
#user_index .thumbnail .copy {background:white;
padding-left:15px;padding-right:5px;
color:black;}
#user_index .thumbnail h3 {font-weight:normal;font-size:16px}
#user_index .thumbnails a {	text-decoration: none !important}
#user_index .thumbnail:hover {outline: thick solid #83c34d;
outline-offset: -3px;

}

#user_index .thumbnail:hover > .copy {background:#83c34d;color:white}
#user_index .thumbnail:hover > .copy > .updated_status {color:white !important}
#user_index .updated_status {font-size:11px;position: relative;top: -5px;color:#888888;}


/* whitestrip */
#so_map {width:100%;height:225px;border:2px solid black}
#overview_collapsible .btn-group {margin-left: 20%; margin-top: 11px;}
dt {text-align: left !important;font-weight: normal; color: #000000; font-size: 14px;margin-bottom:15px;}
dd {font-weight: bold; font-size: 14px; color: #919191;margin-bottom:15px;}
#flip {text-decoration: none !important; cursor:pointer; color:black; position:relative; top:10px; font-size:12px; } 
#flip span {padding-left:5px;}
#newresults {width: 132px;float:right}
#newresults #new_button {font-size:14px;}
#newresults .icon-plus {margin-right:5px;line-height: 1.2em;}
#save_finish_button {font-size:14px;width:100px;}
#title_line {margin-bottom:18px;line-height:24px;}
.unshown_input {display:none;}

.top_header {
	color:#595A58;font-size:22px;font-weight: normal;line-height: 27px;
}

.lower_header {
	color:gray;
}
